<div class="ion-page">

  <ion-header mode="ios">
      <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="list-workers"></ion-back-button>
          </ion-buttons>
          <ion-title>About</ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <h2>Учет персонала</h2>
    <p>Тестовая разработка на Angular, Ionic, RXJS, NGXS.</p>
    <p>Отрабатывались приемы работы с "умным/глупым" компонентами, работа со ссылочными данными.</p>
    <br>
    <h2>Структура:</h2>
    <p>Три справочника: работники, профессии и обязанности по профессии. У одного работника - несколько профессий, в каждой профессии - свой список обязанностей.</p>
    <p>Реализовано добавление, изменение и удаление элементов.</p>
    <p>В списке работников реализован поиск по частям слов. Поиск по полям имени, профессии или обязанностям, либо везде.</p>
    <p>В карточке работника показан список коллег, подобранный по обязанностям.</p>



    
  </ion-content>

</div>
