<ion-list >
  
  <ion-item-sliding *ngFor="let item of list; let i = index">

    <ion-item (click)="edit(item)">
      <ion-avatar slot="start">
        <img [src]="item?.fotoMediumUrl">
      </ion-avatar>
      <ion-label>
        <h2>{{item?.lastName}} {{item?.firstName}}</h2>
        <p>{{item?.dateOfBirth | date:'dd.MM.yyyy'}}</p>
        <p>{{item?.getProfessionsTitle()}}</p>
      </ion-label>
    </ion-item>

    <ion-item-options side="end" (ionSwipe)="swipe()">
      <ion-item-option (click)="edit(item)" >Edit</ion-item-option>
    </ion-item-options>

  </ion-item-sliding>

</ion-list>