.img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-style: solid;
    border-radius: 20px;
    border-color: lightgrey;
    --border-radius: 15px;

}

.tab-header-open {
    background-color:  lightgrey;
    
}
