<div class="ion-page" id="form-worker">
  
  <ion-header mode="ios">
      <ion-toolbar>
          
          <ion-buttons slot="start">
                  <ion-back-button defaultHref="list-workers"></ion-back-button>
          </ion-buttons>
          
          <ion-title>Worker {{marckModified()}}</ion-title>

          <ion-buttons slot="end">
              <ion-button (click)="openCustomMenu()">
                  <ion-icon name="ellipsis-vertical"></ion-icon>
              </ion-button>
          </ion-buttons>

      </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

  <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->


    <form
      [formGroup]="form"
      novalidate
      >

      <ion-avatar class="img">
      <ion-img  [src]="object?.fotoLargeUrl" alt="foto"></ion-img>
      </ion-avatar>

      <ion-item>
        <ion-label position="floating">Code</ion-label>
        <ion-input
          name="code"
          type="text"
          formControlName="code"
          (change)="onChangeField($event, 'code')"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">First name</ion-label>
        <ion-input
          name="firstName"
          type="text"
          formControlName="firstName"
          (change)="onChangeField($event, 'firstName')"
        ></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Last name</ion-label>
        <ion-input 
          name="lastName"
          type="text"
          formControlName="lastName"
          (change)="onChangeField($event, 'lastName')"
        ></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Date of birth</ion-label>
        <ion-datetime 
          display-format="DD.MM.YYYY" 
          picker-format="DD MM YYYY" 
          formControlName="dateOfBirth" 
          placeholder="Select Date"
          (ionChange)="onChangeField($event, 'dateOfBirth')"
        ></ion-datetime>
      </ion-item>

      <!-- (ionChange)="onChangeField($event, 'dateOfBirth')" -->
      <!-- object?.dateOfBirth| date:'yyyy-MM-dd'  -->
      

      <!-- Список назначенных работнику профессий -->
      <ion-list>

        <ion-list-header 
          class="tab-header-close" 
          *ngIf="!formOptions.tableProfessionsOpen"
          (click)="onClickProfession(true)"
          >
          <ion-label>Profession ({{object?.getProfessionsTitle()}})</ion-label>
          <ion-button (click)="onClickProfession(true)">
            <ion-icon name="arrow-down-outline" ></ion-icon>
          </ion-button>
        </ion-list-header>

        <ion-list-header 
        class="tab-header-open" 
        *ngIf="formOptions.tableProfessionsOpen"
        (click)="onClickProfession(false)"
        >
          <ion-label>Profession</ion-label>
          <ion-button (click)="onAddProfession()">Add</ion-button>
          <ion-button (click)="onClickProfession(false)">
            <ion-icon name="arrow-up-outline" ></ion-icon>
          </ion-button>
        </ion-list-header>

        <ng-container *ngIf="formOptions.tableProfessionsOpen">
          <ion-item-sliding 
            *ngFor="let item of object?.tableProfessions; let i = index"
            >
        
            <ion-item>
              <ion-label>
                <h2>{{item?.name}}</h2>
              </ion-label>
            </ion-item>
        
            <ion-item-options side="end" (ionSwipe)="swipeProfession()">
              <ion-item-option (click)="delProfession(item)" >Del</ion-item-option>
            </ion-item-options>
        
          </ion-item-sliding>
        </ng-container>
      
      </ion-list>

      <!-- Список коллег по проф. обязанностям, не редактируется -->
      <ion-list>

          <ion-list-header 
            class="tab-header-close" 
            *ngIf="!formOptions.tableColleaguesOpen"
            (click)="onClickColleagues(true)"
            >
            <ion-label>Colleagues ({{tableColleagues?.length}}) </ion-label>
            <ion-button (click)="onClickColleagues(true)">
              <ion-icon name="arrow-down-outline" ></ion-icon>
            </ion-button>
          </ion-list-header>
      
          <ion-list-header 
            class="tab-header-open" 
            *ngIf="formOptions.tableColleaguesOpen"
            (click)="onClickColleagues(false)"
            >
            <ion-label>Colleagues</ion-label>
            <ion-button (click)="onClickColleagues(false)">
              <ion-icon name="arrow-up-outline" ></ion-icon>
            </ion-button>
          </ion-list-header>
      
          <ng-container *ngIf="formOptions.tableColleaguesOpen">
            <ion-item-sliding 
              *ngFor="let item of (tableColleagues || []); let i = index"
              >
          
              <ion-item>
                <ion-label>
                  <h2>{{item?.lastName}} {{item?.firstName}}</h2>
                </ion-label>
              </ion-item>
          
              <ion-item-options side="end" (ionSwipe)="swipeColleagues()">
                <!-- <ion-item-option (click)="delProfession(item)" >Del</ion-item-option> -->
              </ion-item-options>
          
            </ion-item-sliding>
          </ng-container>
        
        </ion-list>

    </form>


    <!-- ////////////////////////////////////////////////////////////////////////////////// -->


    <ion-toolbar mode="ios">
      <ion-button *ngIf="formOptions.formModified"
      slot="end" shape="round" fill="outline" (click)="onSave()">
          Save&nbsp;
          <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>

  </ion-content>   

</div>



<!-- Правое меню -->
<ion-menu side="end" menuId="ref-workers-menu" contentId="form-worker" mode="ios">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Actions</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="onSave()">
          <ion-icon name="save-outline"></ion-icon>
          &nbsp;
          Save
      </ion-item>
      <ion-item (click)="onDelete()">
          <ion-icon name="close-circle-outline"></ion-icon>
          &nbsp;
          Delete
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
