<ion-list >
  
  <ion-item-sliding *ngFor="let item of list; let i = index">

    <ion-item (click)="edit(item)">
      <ion-label>
        <h2>{{item?.name}}</h2>
      </ion-label>
    </ion-item>

    <ion-item-options side="end" (ionSwipe)="swipe()">
      <ion-item-option (click)="edit(item)" >Edit</ion-item-option>
    </ion-item-options>

  </ion-item-sliding>

</ion-list>