personnel records

<ion-app mode="ios">

    <ion-menu side="start" contentId="main">
        <ion-header>
            <ion-toolbar color="medium">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>

                <ion-menu-toggle auto-hide="true">


                <ion-item routerLink="/list-workers">
                    <ion-icon slot="start" name="people-outline"></ion-icon>
                    Workers
                </ion-item>

                <ion-item routerLink="/list-professions">
                    <ion-icon slot="start" name="documents-outline"></ion-icon>
                    Professions
                </ion-item>

                <ion-item routerLink="/list-duties">
                    <ion-icon slot="start" name="documents-outline"></ion-icon>
                    Duties
                </ion-item>

                <ion-item routerLink="/about">
                    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                    About
                </ion-item>

                </ion-menu-toggle>

            </ion-list>
        </ion-content>
    </ion-menu>

    


    
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>


<!-- <router-outlet></router-outlet> -->