<div class="ion-page" >
    <ion-header mode="ios">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="onClose()">
                    <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
                    <ion-label>Back</ion-label>
                </ion-button>
            </ion-buttons>
            <ion-title>Select duty</ion-title>
        </ion-toolbar>
    </ion-header>
     
    <ion-content class="ion-padding">
        <app-select-duties 
            [list]="(object$ | async)?.list"
            (selectRow)="selectRow($event)"
        ></app-select-duties>
    </ion-content> 

</div>


