<ion-list >
  
  <ion-item-sliding *ngFor="let item of list; let i = index">

    <ion-item 
      (click)="selectItem(item)"
      (ionSwipe)="selectItem(item)"
      >
      <ion-label>
        <h2>{{item?.name}}</h2>
      </ion-label>
    </ion-item>

  </ion-item-sliding>

</ion-list>