<div class="ion-page" id="list-workers">

    <ion-header mode="ios">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Workers</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="openCustomMenu()">
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

        <ion-searchbar 
            showCancelButton="never" 
            clearIcon="close-circle"
            debounce=500
            (ionChange)="onCangeSearch($event)"
            [(ngModel)]="filterStr"
        >
    
            <ion-select 
                mode="ios"
                placeholder="Select in" 
                interface="action-sheet"
                class="search"
                [(ngModel)]="variantSearch"
                (ionChange)="onChangeVariantSearch()"
                >

                <ion-select-option value="All">All</ion-select-option>
                <ion-select-option value="Name">Name</ion-select-option>
                <ion-select-option value="Profession">Profession</ion-select-option>
                <ion-select-option value="Duty">Duty</ion-select-option>
            </ion-select>
        </ion-searchbar>

    </ion-header>
    
    <ion-content class="ion-padding">
        <app-list-workers 
            [list]="(object$ | async)?.list"
            (selectRow)="selectRow($event)"
        ></app-list-workers>
    </ion-content>

</div>



<!-- Правое меню -->
<ion-menu side="end" menuId="list-workers-menu" contentId="list-workers" mode="ios">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Actions</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="onNew()">
            <ion-icon name="person-add-outline"></ion-icon>
            &nbsp;
            New
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  


