<div class="ion-page" id="list-professions" >

    <ion-header mode="ios">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Professions</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="openCustomMenu()">
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">
        <app-list-professions 
            [list]="(object$ | async)?.list"
            (selectRow)="selectRow($event)"
        ></app-list-professions>
    </ion-content>

</div>



<!-- Правое меню -->
<ion-menu side="end" menuId="list-professions-menu" contentId="list-professions" mode="ios">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Actions</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="onNew()">
            <ion-icon name="add-circle-outline"></ion-icon>
            &nbsp;
            New
        </ion-item>
      </ion-list>
    </ion-content>
</ion-menu>
