<div class="ion-page" id="form-duty">
  
  <ion-header mode="ios">
      <ion-toolbar>
          
          <ion-buttons slot="start">
            <ion-back-button defaultHref="list-workers"></ion-back-button>
          </ion-buttons>
          
          <ion-title>Duty {{marckModified()}}</ion-title>

          <ion-buttons slot="end">
              <ion-button (click)="openCustomMenu()">
                  <ion-icon name="ellipsis-vertical"></ion-icon>
              </ion-button>
          </ion-buttons>

      </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

  <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->


    <form
      [formGroup]="form"
      novalidate
      >

      <ion-item>
        <ion-label position="floating">Duty</ion-label>
        <ion-input
          name="name"
          type="text"
          formControlName="name"
          (change)="onChangeField($event, 'name')"
        ></ion-input>
      </ion-item>

    </form>


    <!-- ////////////////////////////////////////////////////////////////////////////////// -->


    <ion-toolbar mode="ios">
      <ion-button *ngIf="formOptions.formModified"
      slot="end" shape="round" fill="outline" (click)="onSave()">
          Save&nbsp;
          <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>

  </ion-content>   

</div>



<!-- Правое меню -->
<ion-menu side="end" menuId="ref-duties-menu" contentId="form-duty" mode="ios">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Actions</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="onSave()">
          <ion-icon name="save-outline"></ion-icon>
          &nbsp;
          Save
      </ion-item>
      <ion-item (click)="onDelete()">
          <ion-icon name="close-circle-outline"></ion-icon>
          &nbsp;
          Delete
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
