<div class="ion-page" id="form-profession">
  
  <ion-header mode="ios">
      <ion-toolbar>
          
          <ion-buttons slot="start">
                  <ion-back-button defaultHref="list-workers"></ion-back-button>
          </ion-buttons>
          
          <ion-title>Profession {{marckModified()}}</ion-title>

          <ion-buttons slot="end">
              <ion-button (click)="openCustomMenu()">
                  <ion-icon name="ellipsis-vertical"></ion-icon>
              </ion-button>
          </ion-buttons>

      </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

  <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->


    <form
      [formGroup]="form"
      novalidate
      >

      <ion-item>
        <ion-label position="floating">Profession</ion-label>
        <ion-input
          name="name"
          type="text"
          formControlName="name"
          (change)="onChangeField($event, 'name')"
        ></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Salary</ion-label>
        <ion-input 
          name="sum"
          type="number"
          formControlName="sum"
          (change)="onChangeField($event, 'name')"
        ></ion-input>
      </ion-item>
      

      <!-- Список обязанностей -->
      <ion-list>

        <ion-list-header 
          class="tab-header-close" 
          *ngIf="!formOptions.tableDutiesOpen" 
          (click)="onClickDuties(true)"
          >
          <ion-label>Duties ({{object?.tableDuties.length}})</ion-label>
          <ion-button (click)="onClickDuties(true)">
            <ion-icon name="arrow-down-outline" ></ion-icon>
          </ion-button>
        </ion-list-header>

        <ion-list-header 
          class="tab-header-open" 
          *ngIf="formOptions.tableDutiesOpen"
          (click)="onClickDuties(false)"
          >
          <ion-label>Duties</ion-label>
          <ion-button (click)="onAddDuty()">Add</ion-button>
          <ion-button (click)="onClickDuties(false)">
            <ion-icon name="arrow-up-outline" ></ion-icon>
          </ion-button>
        </ion-list-header> 

        <ng-container *ngIf="formOptions.tableDutiesOpen">
          <ion-item-sliding 
            *ngFor="let item of object?.tableDuties; let i = index"
            >
        
            <ion-item>
              <ion-label>
                <h2>{{item?.name}}</h2>
              </ion-label>
            </ion-item>
        
            <ion-item-options side="end" (ionSwipe)="swipeDuty()">
              <ion-item-option (click)="onDelDuty(item)" >Del</ion-item-option>
            </ion-item-options>
        
          </ion-item-sliding>
        </ng-container>
      
      </ion-list>


    </form>


    <!-- ////////////////////////////////////////////////////////////////////////////////// -->


    <ion-toolbar mode="ios">
      <ion-button *ngIf="formOptions.formModified"
      slot="end" shape="round" fill="outline" (click)="onSave()">
          Save&nbsp;
          <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>

  </ion-content>   

</div>



<!-- Правое меню -->
<ion-menu side="end" menuId="ref-professions-menu" contentId="form-profession" mode="ios">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Actions</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="onSave()">
          <ion-icon name="save-outline"></ion-icon>
          &nbsp;
          Save
      </ion-item>
      <ion-item (click)="onDelete()">
          <ion-icon name="close-circle-outline"></ion-icon>
          &nbsp;
          Delete
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
